### Python ###
# Byte-compiled, C extensions, and compiled files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment and virtualenvs
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environments within Python tools
.pdm.toml
__pypackages__/

### Build and Packaging ###
.DS_Store
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
MANIFEST
*.egg

### Logs and Reports ###
# General
*.log
pip-log.txt
pip-delete-this-directory.txt
# Unit testing and coverage
htmlcov/
.tox/
.nox/
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.coverage_sqlite

### Framework-Specific ###
# Django
local_settings.py
db.sqlite3*

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

### Editor and Tool Config ###
# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Spyder
.spyderproject/
.spyproject/

# Rope
.ropeproject/

# IPython
profile_default/
ipython_config.py

### Documentation ###
# Sphinx
docs/_build/
# MkDocs
/site

### Type Checkers ###
.mypy_cache/
.pyre/
.dmypy.json
.pytype/

### Static Analysis and Debugging ###
cython_debug/

### Task Runners, Job Schedulers ###
# Celery
celerybeat-schedule
celerybeat.pid

### Temporary Files ###
input/
output/
